<h1>Find songs from the year of your birth!</h1>

<form action="/spotify" method="get">
	<label>Year <em>(four digits please!)</em>:<input name="year"></label>
	<button>Submit</button>
</form>


<ul>

	<ul>
			<% @playlists.each do |p| %>
				<li><a href="/spotify/<%= p['id'] %>"><%= p['name'] %></a></li>
			<% end %>
</ul>