<h1>Find songs from the year of your birth!</h1>

<form action="/spotify" method="get">
	<label>Year <em>(four digits please!)</em>:<input name="year"></label>
	<button>Submit</button>
</form>


<ul>

	<% @results.each do |result| %>
		<li><a href="/spotify/<%= result['id'] %>"><%= result['playlists.name'] %></a></li>
	<% end %>
</ul>